<!DOCTYPE html>
<html lang="en">

{{dir}}

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>a9b wish list</title>

<!-- Bootstrap Core CSS -->
<link href="../resource/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../resource/css/clean-blog.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./">a9b.jp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
        <a href="./">Home</a>
        </li>
        <li>
        <a href="https://twitter.com/a9b">Twitter</a>
        </li>
        <li>
        <a href="https://www.facebook.com/profile.php?id=1259780289">facebook</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../resource/img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Wish List 2015</h1>
          <hr class="small">
          <span class="subheading">30歳になるんでなんかください</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <div class="post-preview">
        <a href="https://www.evernote.com/market/feature/stylus-platform-jp?sku=MAR0001">
          <h2 class="post-title">
            タブレット用スタンド + スタイラスペン
          </h2>
          <h3 class="post-subtitle">
            ipad miniを無駄におしゃれに飾りたい! プレゼントしてくれたら下手くそな絵を描いてお礼とさせて頂きます
          </h3>
        </a>
        <p class="post-meta">by <a href="https://www.evernote.com/market/feature/stylus-platform-jp?sku=MAR0001">Evernote</a> ¥11,990〜</p>
      </div>

      <hr>
      <div class="post-preview">
        <a href="http://www.amazon.co.jp/registry/wishlist/T1JRLMS41SVS">
          <h2 class="post-title">
            Amazon Wish List
          </h2>
          <h3 class="post-subtitle">
            まぁ王道の・・・。おしゃれな紳士淑女の皆様がここから選定するということはないとは思いますが・・・
          </h3>
        </a>
        <p class="post-meta">by <a href="http://www.amazon.co.jp/registry/wishlist/T1JRLMS41SVS">Amazon</a> ¥648〜</p>
      </div>

      <hr>
      <div class="post-preview">
        <a href="https://www.evernote.com/market/feature/rucksack-jp">
          <h2 class="post-title">
            ISAR リュックサック
          </h2>
          <h3 class="post-subtitle">
            自転車でスタバに行ってmacを取り出して「ドヤァ!」ってやりたいと思います
          </h3>
        </a>
        <p class="post-meta">by <a href="https://www.evernote.com/market/feature/rucksack-jp">Evernote</a> ¥28,350〜</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="http://www.thefloydleg.com/shop/the-floyd-leg-16">
          <h2 class="post-title">
            The Floyd Leg
          </h2>
          <h3 class="post-subtitle">
            テーブルのある生活って素敵だと思いません？
          </h3>
        </a>
        <p class="post-meta">by <a href="http://www.thefloydleg.com/shop/the-floyd-leg-16">FLOYD</a> $179.00〜</p>
      </div>
      <hr>

      <!-- Pager -->
      <!--
      <ul class="pager">
        <li class="next">
        <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
      -->

    </div>
  </div>
</div>

<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
          <a href="https://Twitter.com/a9b">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          </li>
          <li>
          <a href="https://www.facebook.com/profile.php?id=1259780289">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; a9b.jp 2015</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="../resource/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../resource/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../resource/js/clean-blog.min.js"></script>

</body>

</html>
